<tr id="bmk-<%= bookmark.id%>">
  <td><%= bookmark.title %></td>
  <td><%= bookmark.url %></td>
  <td>
    <ul>
      <% bookmark.categories.each do |c| %>
        <li><%= link_to c, category_path(c) %></li>
      <% end %>
    </ul>
  </td>
  <td>
    <ul>
      <% bookmark.kinds.each do |k| %>
        <li><%= link_to k, kind_path(k) %></li>
      <% end %>
    </ul>
  </td>
  <td><%= link_to 'Show', bookmark_path(bookmark), remote: true %></td>
  <td><%= link_to 'Edit', edit_bookmark_path(bookmark), remote: true %></td>
  <td><%= link_to 'Destroy', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>